<section id="contact" class="contact">
        <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
            <h1 class="text-center"> Faça contato!</h1>
                <p class="text-center"><a href="#">contato@opensanca.com.br</a></p>

            </div>
            </div>

            <div class="row hidden-xs">
            <div class="col-lg-12">
                <p class="text-center">
                <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/opensanca" class="btn btn-default btn-lg" target="_blank">
                        <i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/orgs/opensanca" class="btn btn-default btn-lg" target="_blank">
                        <i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/opensanca/" class="btn btn-default btn-lg" target="_blank">
                        <i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>

                <li>
                    <a href="https://medium.com/opensanca" class="btn btn-default btn-lg" target="_blank">
                        <i class="fa fa-medium fa-fw"></i> <span class="network-name">Medium</span></a>
                </li>

                <li>
                    <a href="https://www.meetup.com/opensanca/" class="btn btn-default btn-lg" target="_blank">
                        <i class="fa fa-meetup fa-fw" aria-hidden="true"></i> <span class="network-name">Meetup</span></a>
                </li>
                <li>
                    <a href="http://slack-opensanca.herokuapp.com/" class="btn btn-default btn-lg" target="_blank">
                        <i class="fa fa-slack fa-fw" aria-hidden="true"></i> <span class="network-name">Slack</span></a>
                </li>
            </ul>
            </p>
            </div>
        </div>


            </div>
        </div>
    </section>
