<section class="album" id="album">
    <div class="wrapper">
        <h2 class="section-title">AsFotosDoEventoFicaramOtimas.exe</h2>

        <p>
          <a href="{{albumLink}}" target="_blank">Ver as fotos do evento.</a>
        </p>
</section>
