<section class="hero">
    <div class="hero__container">
        <div class="wrapper">
        <div class="hero__content">
            <span>Somos caipiras e gostamos de tecnologia.</span>
            <h1 class="hero__title">
              DevConf {{info.year}}
            </h1>
            <h2 class="hero__strapline">
            by <a class="hero__link" href="http://opensanca.com" target="_blank">Opensanca</a> | Conhecimento é livre!
            </h2>

        </div>
        </div>
    </div>
    <div class="hero__background">
        <div class="hero__gradient">
            <div class="hero__video">
                <div class="hero__player">
                    <div class="player">
                        <video poster="https://s3.amazonaws.com/coverr-public/poster/Aloha-Mundo.jpg" autoplay="autoplay" loop="loop">
                            <source src="assets/img/Aloha-Mundo.mp4">
                        </video>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
