<section class="hero">
    <div class="hero__container">
        <div class="wrapper">
        <div class="hero__content">
            <img class="hero__logo" src="assets/img/logos/logo_devconf_light.png?h=1e1f77aighjg" alt="DevConf">
            <h2 class="hero__strapline">
            by <a class="hero__link" href="http://opensanca.com" target="_blank">Opensanca</a> | Conhecimento é livre!
            </h2>

        </div>
        </div>
    </div>
    <div class="hero__background">
        <div class="hero__gradient">
            <div class="hero__video">
                <div class="hero__player">
                    <div class="player">
                        <video poster="" autoplay="autoplay" muted="muted" loop="loop">
                            <source src="assets/img/coding.mp4">
                        </video>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
