<section class="partners" id="partner">
    <div class="wrapper">
        <h2 class="section-title">Partners</h2>

        <div class="partners__logos">
            {{#each partners}}
                <a href="{{ link }}" target="_blank">
                    <img src="{{ logo }}" alt="{{name}}"/>
                </a>
            {{/each}}
        </div>
    </div>
</section>