<section class="partners" id="partner">
  <div class="wrapper">
    <h2 class="section-title">Partners</h2>

    <div class="partners__logos">
      <div class="row">
        {{#each partners}}
          <div class="col-xs-6 col-md-3 partner">
            <a href="{{ link }}" target="_blank">
              <img class="img-responsive center-block" src="{{ logo }}" alt="{{name}}"/>
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>
