/*** uncss> filename: https://fonts.googleapis.com/css?family=Roboto:300,400,500,700 ***/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

/*** uncss> filename: http://localhost:8080/assets/css/bootstrap.min.css ***/
/*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 *//*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{margin:0}figcaption,figure,footer,header,nav,section{display:block}canvas,video{display:inline-block;vertical-align:baseline}a{background-color:transparent}a:active,a:hover{outline:0}h1{margin:.67em 0;font-size:2em}img{border:0}figure{margin:1em 40px}hr{height:0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}button,input{margin:0;font:inherit;color:inherit}button{overflow:visible}button{text-transform:none}button{-webkit-appearance:button;cursor:pointer}button[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input{line-height:normal}input[type=checkbox]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */@media print{*,:after,:before{color:#000!important;text-shadow:none!important;background:0 0!important;-webkit-box-shadow:none!important;box-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}a[href^="javascript:"]:after,a[href^="#"]:after{content:""}img{page-break-inside:avoid}img{max-width:100%!important}h2,h3,p{orphans:3;widows:3}h2,h3{page-break-after:avoid}}@font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}button,input{font-family:inherit;font-size:inherit;line-height:inherit}a{color:#337ab7;text-decoration:none}a:focus,a:hover{color:#23527c;text-decoration:underline}a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}figure{margin:0}img{vertical-align:middle}.img-responsive,.thumbnail>img{display:block;max-width:100%;height:auto}hr{margin-top:20px;margin-bottom:20px;border:0;border-top:1px solid #eee}h1,h2,h3,h4,h6{font-family:inherit;font-weight:500;line-height:1.1;color:inherit}h1,h2,h3{margin-top:20px;margin-bottom:10px}h4,h6{margin-top:10px;margin-bottom:10px}h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:18px}h6{font-size:12px}p{margin:0 0 10px}.text-center{text-align:center}ul{margin-top:0;margin-bottom:10px}ul ul{margin-bottom:0}address{margin-bottom:20px;font-style:normal;line-height:1.42857143}.row{margin-right:-15px;margin-left:-15px}.col-md-3,.col-md-6,.col-md-8,.col-sm-6,.col-xs-6{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-6{float:left}.col-xs-6{width:50%}@media (min-width:768px){.col-sm-6{float:left}.col-sm-6{width:50%}}@media (min-width:992px){.col-md-3,.col-md-6,.col-md-8{float:left}.col-md-8{width:66.66666667%}.col-md-6{width:50%}.col-md-3{width:25%}.col-md-offset-2{margin-left:16.66666667%}}label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700}input[type=checkbox]{margin:4px 0 0;margin-top:1px\9;line-height:normal}input[type=checkbox]:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn:focus,.btn:hover{color:#333;text-decoration:none}.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn[disabled]{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40}.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74}.btn-primary:active{color:#fff;background-color:#286090;border-color:#204d74}.btn-primary:active:focus,.btn-primary:active:hover{color:#fff;background-color:#204d74;border-color:#122b40}.btn-primary:active{background-image:none}.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}.btn-success:focus{color:#fff;background-color:#449d44;border-color:#255625}.btn-success:hover{color:#fff;background-color:#449d44;border-color:#398439}.btn-success:active{color:#fff;background-color:#449d44;border-color:#398439}.btn-success:active:focus,.btn-success:active:hover{color:#fff;background-color:#398439;border-color:#255625}.btn-success:active{background-image:none}.btn-success[disabled]:focus,.btn-success[disabled]:hover{background-color:#5cb85c;border-color:#4cae4c}.fade{opacity:0;-webkit-transition:opacity .15s linear;-o-transition:opacity .15s linear;transition:opacity .15s linear}.dropdown{position:relative}.nav{padding-left:0;margin-bottom:0;list-style:none}.thumbnail{display:block;padding:4px;margin-bottom:20px;line-height:1.42857143;background-color:#fff;border:1px solid #ddd;border-radius:4px;-webkit-transition:border .2s ease-in-out;-o-transition:border .2s ease-in-out;transition:border .2s ease-in-out}.thumbnail>img{margin-right:auto;margin-left:auto}.close{float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;filter:alpha(opacity=20);opacity:.2}.close:focus,.close:hover{color:#000;text-decoration:none;cursor:pointer;filter:alpha(opacity=50);opacity:.5}button.close{-webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}.modal-header{padding:15px;border-bottom:1px solid #e5e5e5}.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.42857143}.modal-body{position:relative;padding:15px}.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}}.modal-footer:after,.modal-footer:before,.modal-header:after,.modal-header:before,.nav:after,.nav:before,.row:after,.row:before{display:table;content:" "}.modal-footer:after,.modal-header:after,.nav:after,.row:after{clear:both}.pull-left{float:left!important}.hide{display:none!important}@-ms-viewport{width:device-width}@media (max-width:767px){.hidden-xs{display:none!important}}@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}@media (min-width:1200px){.hidden-lg{display:none!important}}
/*# sourceMappingURL=bootstrap.min.css.map */
/*** uncss> filename: http://localhost:8080/assets/css/custom-google-maps.css ***/
#google-container {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #e7eaf0;
}
@media only screen and (min-width: 768px) {
  #google-container {
    height: 300px;
  }
}
@media only screen and (min-width: 1170px) {
  #google-container {
    height: 600px;
  }
}

#cd-google-map {
  position: relative;
}
#cd-google-map address {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em 1em;
  background-color: rgba(211, 104, 104, 0.9);
  color: white;
  font-size: 1em !important;
}
@media only screen and (min-width: 768px) {
  #cd-google-map address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
  }
}

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(211, 104, 104, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg");
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in, #cd-zoom-out {
    margin-left: 50px;
  }
}

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in {
    margin-top: 50px;
  }
}

#cd-zoom-out {
  background-position: 50% -32px;
}

/*** uncss> filename: http://localhost:8080/assets/css/font-awesome-4.7.0/css/font-awesome.min.css ***/
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal}.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.pull-left{float:left}.fa-star-o:before{content:"\f006"}.fa-twitter:before{content:"\f099"}.fa-github:before{content:"\f09b"}.fa-money:before{content:"\f0d6"}.fa-linkedin:before{content:"\f0e1"}.fa-calendar-o:before{content:"\f133"}

/*** uncss> filename: http://localhost:8080/assets/css/styles.css ***/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font: 400 16px/1.4 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    color: #545e6f;
    background: #f9fbfd;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.mobile-devconf {
  width: 90px;
  height: inherit;
  top: 8px;
  position: relative;
}

.mobile-text {
  top: -4px;
  position: relative;
  font-size: 1.1em;
  right: 40px;
}

a:focus, a:hover {
    color: #6594fb;
    text-decoration: none;
}

img {
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom
}

.wrapper {
    max-width: 1140px;
    width: 94%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative
}

.wrapper:after {
    clear: both;
    display: table;
    content: ""
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 85px 0 0
}

@media only screen and (max-width: 720px) {
    body {
        margin:64px 0 0
    }
}

footer,header,nav,section {
    display: block
}

canvas,video {
    display: inline-block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,a:hover {
    outline-width: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

img {
    border-style: none
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,input {
    font: inherit;
    margin: 0
}

button,input {
    overflow: visible
}

button {
    text-transform: none
}

button,html [type="button"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,[type="button"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.btn-success {
  background: #1bbb7c;
  color: #fff;
}


h1,h2,h3,h4,h6 {
    font-weight: 300;
    position: relative;
    letter-spacing: 0px
}

h1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 48px;
    margin: 0 0 20px;
    font-weight: 400
}

h2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    font-size: 28px
}

h3 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    font-size: 18px
}

h4 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    font-size: 16px
}

h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    font-size: 12px
}

i {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


.top30 {
  margin-top: 30px;
}

.button__tertiary {
    border: 0;
    outline: 0;
    line-height: 1;
    text-align: center;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2px;
    display: inline-block
}

.button__tertiary {
    letter-spacing: -0.5px;
    background: #1bbb7c;
    padding: 15px 35px;
    color: #fff;
    margin: 35px 0;
    padding: 18px 32px;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 15px;
    -webkit-transition: background .3s,-webkit-box-shadow .3s;
    transition: background .3s,-webkit-box-shadow .3s;
    transition: background .3s,box-shadow .3s;
    transition: background .3s,box-shadow .3s,-webkit-box-shadow .3s
}

.button__tertiary:hover {
    background: #18a56d;
    color: #fff;
}

.header {
    will-change: transform;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    height: 85px;
    z-index: 99999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    box-shadow: 0 1px 6px rgba(0,0,0,0.1)
}

.header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: static
}

@media only screen and (max-width: 720px) {
    .header {
        height:64px
    }
}

.logo {
    overflow: hidden;
    text-indent: -160px;
    display: inline-block
}

.logo__image {
    width: 125px;
    height: 80px;
    margin-top: -20px;
    display: block
}

@media only screen and (max-width: 720px) {
    .logo__image {
        width:120px;
        height: 42px
    }
}

.nav {
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #6a7589;
    height: 100%
}

@media only screen and (max-width: 720px) {
    .nav {
        background:#fff;
        position: absolute;
        left: 0;
        top: 64px;
        right: 0;
        height: auto;
        width: 100%;
        margin: 0;
        -webkit-box-shadow: 0 15px 25px rgba(50,50,93,0.1);
        box-shadow: 0 15px 25px rgba(50,50,93,0.1);
        border-top: 1px solid rgba(0,0,0,0.05);
        -webkit-transform: translate3d(0,-125%,0);
        transform: translate3d(0,-125%,0);
        opacity: 0
    }
}

.nav__tag {
    position: relative;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background-color: #67d56f;
    padding: 4px 7px;
    line-height: 1;
    border-radius: 2px
}

.nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px 0 0;
    padding: 0;
    width: inherit
}

@media only screen and (max-width: 1140px) {
    .nav__list {
        margin:0
    }
}

@media only screen and (max-width: 720px) {
    .nav__list {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.nav__item {
    margin-left: 10px;
    position: relative;
    list-style: none
}

@media only screen and (max-width: 720px), screen and (min-width: 840px) and (max-width: 1080px) {
    .nav__item {
        margin-left:0
    }
}

@media only screen and (max-width: 720px) {
    .nav__item {
        -webkit-box-flex:1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
}

.nav__item--divider {
    padding-left: 15px;
    margin-left: 15px
}

@media only screen and (min-width: 840px) and (max-width: 1080px) {
    .nav__item--divider {
        padding-left:15px;
        margin-left: 15px
    }
}

@media only screen and (max-width: 720px) {
    .nav__item--divider {
        background:#f5f8fc
    }
}

@media only screen and (max-width: 720px), screen and (min-width: 840px) and (max-width: 950px) {
    .nav__item--divider {
        margin-left:0;
        padding-left: 0
    }
}

.nav__item--divider .nav__link:before {
    content: ' ';
    width: 1px;
    left: 0;
    height: 20px;
    background: rgba(0,0,0,0.1);
    position: absolute
}

@media only screen and (max-width: 720px), screen and (min-width: 840px) and (max-width: 950px) {
    .nav__item--divider .nav__link:before {
        display:none
    }
}

.nav__item:hover {
    color: #2e3746
}

.nav__item:hover .dropdown {
    -webkit-transform: translate3d(-50%,10px,0) rotateX(0);
    transform: translate3d(-50%,10px,0) rotateX(0);
    display: block
}

@media only screen and (max-width: 720px) {
    .nav__item:hover .dropdown {
        display:none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.nav__item-drop {
    margin: 2px 0 0 8px;
    vertical-align: middle
}

@media only screen and (max-width: 720px) {
    .nav__item-drop {
        display:none
    }
}

.nav__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 500;
    color: inherit
}

@media only screen and (max-width: 1080px) {
    .nav__link {
        padding:0 10px
    }
}

@media only screen and (max-width: 720px) {
    .nav__link {
        padding:0;
        font-size: 17px;
        padding: 20px 25px
    }
}

.dropdown {
    width: 400px;
    position: absolute;
    z-index: 99999;
    top: 100%;
    text-align: left;
    left: 50%;
    -webkit-transform: translate3d(-50%,10px,0);
    transform: translate3d(-50%,10px,0);
    display: none;
    padding-top: 10px;
    margin-top: -10px
}

@media only screen and (max-width: 720px) {
    .dropdown {
        display:none
    }
}

.dropdown:before {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    content: ' ';
    z-index: 3;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0)
}

.dropdown__list {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 50px 100px rgba(50,50,93,0.1),0 15px 35px rgba(50,50,93,0.15),0 5px 15px rgba(0,0,0,0.1);
    box-shadow: 0 50px 100px rgba(50,50,93,0.1),0 15px 35px rgba(50,50,93,0.15),0 5px 15px rgba(0,0,0,0.1);
    position: relative;
    padding: 0;
    z-index: 1
}

.dropdown__item {
    list-style: none
}

.dropdown__item:first-child .nav__link {
    padding-top: 30px
}

.dropdown__item:last-child .nav__link {
    padding-bottom: 30px
}

.dropdown__link {
    border-bottom: 1px solid #383e4a;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 35px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #6a7589
}

.dropdown__link:hover {
    color: #2e3746
}

.dropdown__link:last-child {
    border-bottom: none
}

.dropdown__link__info {
    font-size: 14px;
    font-weight: 300;
    border-left: 1px solid #d9882c;
    padding-left: 10px;
}

.dropdown__link__title {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-size: 15px;
    font-weight: 500;
    color: #2e3746;
    padding-left: 10px;
    text-decoration: none;
}


/*
.dropdown__link img {
  position: relative;
  margin-right: 15px;
  padding-right: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  top: 5px;
  border-right: 1px solid #dda520;
}




*/

.dropdown__link img {
    position: relative;
    margin-right: 35px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60px;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
    top: 4px
}

.footer {
    background: #fff;
    padding: 50px 0
}

.footer__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 0 0 35px
}

@media only screen and (max-width: 520px) {
    .footer__info {
        border-bottom:none;
        padding-bottom: 0
    }
}

.footer__info-brand {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%
}

@media only screen and (max-width: 520px) {
    .footer__info-brand {
        -webkit-box-flex:0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

.footer__info-brand img {
    width: 100%;
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin: -4px 5px 0 0;
}

.footer__info-brand p {
    display: inline-block;
    font-size: 12px
}

.footer__info-social {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    text-align: right;
    margin: 10px 0 0
}

@media only screen and (max-width: 520px) {
    .footer__info-social {
        display:none
    }
}

.footer__info-social--mobile {
    display: none;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee
}

@media only screen and (max-width: 520px) {
    .footer__info-social--mobile {
        display:block
    }
}

.footer__info-social a {
    display: inline-block;
    margin: 0 5px
}

.footer__info-icon {
    width: auto;
    height: 16px
}

.footer__more {
    padding: 45px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media only screen and (max-width: 520px) {
    .footer__more {
        padding:25px 0 0
    }
}

.footer__links {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0
}

.footer__links ul {
    float: left;
    list-style: none;
    margin: 0 35px 0 0;
    padding: 0;
    font-size: 13px
}

.footer__links ul li {
    margin: 0 0 10px
}

.footer__links ul li a {
    color: #8c929d
}

.footer__links ul li a:hover {
    color: #5a5f69
}

.footer__contact {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    text-align: right;
    font-size: 13px
}

@media only screen and (max-width: 520px) {
    .footer__contact {
        display:none
    }
}

.footer__contact--mobile {
    padding-top: 15px;
    display: none;
    text-align: left
}

@media only screen and (max-width: 520px) {
    .footer__contact--mobile {
        display:block
    }
}

.footer__contact a {
    color: #9d62c8
}

.brands__logos {
    margin: 0 auto
}

.award {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*margin: 0 0 0 20px;
    padding: 0 0 0 35px;*/
    font-size: .7em;
    color: #7f95b5;
    font-weight: 500;
}

@media only screen and (max-width: 920px) {
    .award {
        margin-left:5px;
        padding-left: 35px;
        border-left: none
    }
}

@media only screen and (max-width: 880px) {
    .award {
        display:none
    }
}

.award p {
    margin: 0
}

.award__title {
    letter-spacing: 1px;
    text-transform: uppercase
}

.hero {
    position: relative;
    padding-top: 0;
}

@media only screen and (max-width: 840px) {
    .hero {
        padding-bottom:0
    }
}

.hero__gradient,.hero__container {
    margin-top: -50px;
    padding-top: 50px;
    height: 700px;
    z-index: 2;
    position: relative
}

@media only screen and (max-width: 840px) {
    .hero__gradient,.hero__container {
        height:550px
    }
}

@media only screen and (max-width: 720px) {
    .hero__gradient,.hero__container {
        height:460px
    }
}

@media only screen and (max-width: 390px) {
    .hero__gradient,.hero__container {
        height:440px
    }
}

.hero__background {
    -webkit-transform: skew(0,-3.5deg);
    -ms-transform: skew(0,-3.5deg);
    transform: skew(0,-3.5deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.hero__gradient {
    -webkit-transform: skew(0,-1.5deg);
    -ms-transform: skew(0,-1.5deg);
    transform: skew(0,-1.5deg);
    /*background-image: -webkit-gradient(linear,left top,right top,from(#7b519f),to(#9e62c9));
    background-image: -webkit-linear-gradient(left,#7b519f,#9e62c9);
    background-image: linear-gradient(to right,#7b519f,#9e62c9);*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow: hidden;
    z-index: 1
}

.hero__video {
    position: absolute;
    top: 85px;
    left: 50%;
    bottom: -160px;
    width: 100%;
    -webkit-transform: skew(0,5deg) translate(-50%,0);
    -ms-transform: skew(0,5deg) translate(-50%,0);
    transform: skew(0,5deg) translate(-50%,0)
}

.hero .wrapper {
    padding: 180px 0 0
}

@media only screen and (max-width: 840px) {
    .hero .wrapper {
        padding:120px 0 0
    }
}

@media only screen and (max-width: 720px) {
    .hero .wrapper {
        padding:50px 0 0
    }
}

.hero__content {
    margin: 0 0 75px;
    text-align: center;
    color: #fff
}

.hero__content span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: block;
    margin: 0 0 10px
}

@media only screen and (max-width: 550px) {
    .hero__content span {
        display:none
    }
}

.hero__title {
    margin: 15px 0;
    font-weight: 500;
    font-size: 48px
}

@media only screen and (max-width: 720px) {
    .hero__title {
        font-size:32px
    }
}

@media only screen and (max-width: 540px) {
    .hero__title {
        font-size:28px
    }
}

.hero__strapline {
    max-width: 660px;
    margin: 14px auto 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff
}

@media only screen and (max-width: 720px) {
    .hero__strapline {
        max-width:80%;
        font-size: 14px
    }
}

@media only screen and (max-width: 540px) {
    .hero__strapline {
        max-width:85%;
        font-size: 13px
    }
}

.hero__link {
    color: #fff;
    border-bottom: 1px dotted rgba(255,255,255,0.5)
}

.hero__player {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block
}

@media only screen and (max-width: 720px) {
    .hero__player {
        margin:30px 0
    }
}

.hero__player video {
    position: relative;
    z-index: -1
}

.player {
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    z-index: 5
}

@media only screen and (max-width: 720px) {
    .player {
        background:url(/assets/video/background.jpg) top center no-repeat;
        background-size: cover
    }
}

.player:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 1;
    background: -webkit-linear-gradient(57deg,rgba(255, 187, 61, 0.9) 0%,rgba(255, 12, 12, 0.8) 100%);
    background: linear-gradient(33deg,rgb(255, 84, 0) 0%,rgba(172, 255, 7, 0.41) 100%);
}

.player video {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

@media only screen and (max-width: 720px) {
    .player video {
        display:none
    }
}

section {
  padding: 30px;
}

@media (min-width: 980px) {
  section {
    padding: 100px 30px 30px;
  }
}

.section-title {
  padding: 10px 0;
  margin-bottom: 25px;
}

.googleMaps {
  padding: 0;
  margin-top: 0;
}

.modal {
  top: 15%;
}

/*** uncss> filename: http://localhost:8080/assets/css/sponsors.css ***/
.sponsors {
  background: rgb(241, 196, 15);
  color: #1b1917;
}


.sponsors .section-title {
  margin-bottom: 50px;
}

.sponsor-category {
  margin-bottom: 20px;
}

.sponsor-category h3 {
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #f3f3f3;
  padding: 15px;
  border-bottom: 2px solid;
}

.sponsor-category img {
  width: 100px;
}

.sponsor-category.diamond h3 {
  border-color: #b9f2ff;
}

.sponsor-category.gold h3 {
  border-color: #d4af37;
}

.sponsor-category.silver h3 {
  border-color: #c0c0c0;
}

.sponsor-category.bronze h3 {
  border-color: #cd7f32;
}

.brands__logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  min-height: 200px;
  flex-direction: column-reverse;
}

.brands__logos > a {
  display: inline-block;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 600px) {
  .brands__logos {
    flex-direction: row;
  }

  .brands__logos > a {
    margin-bottom: 0;
  }
}

@media (min-width: 980px) {
  .sponsor-category.diamond img {
    width: 180px;
  }

  .sponsor-category.gold img {
    width: 160px;
  }

  .sponsor-category.bronze img {
    width: 120px;
  }
}

/*** uncss> filename: http://localhost:8080/assets/css/speaker.css ***/
.speaker {
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #951AA1, #FC2AD6);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #951AA1, #FC2AD6);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #951AA1, #FC2AD6);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #951AA1, #FC2AD6);
  /* Standard syntax */
  color: #fafafa;
}


.speaker__profile-about {
  margin-top: 10px;

}

.speaker__profile-about a{
  color: #fafafa;
  font-weight: bold;
  text-decoration: none;
  font-size: .9em;
}

.speaker__profile-about a:hover {
  color: #f1c40f;
}

.speaker__profile-social {
  margin-top: 10px;
  text-align: center;
}

.speaker__profile-social a {
  margin-right: 10px;
  text-align: center;
  color: #fafafa;
  font-size: 1.2em;
  text-decoration: none;
}

.speaker__profile-social a:hover {
  color: #f1c40f;
}

.speaker__grow { transition: all .2s ease-in-out;}
.speaker__grow:hover { transform: scale(1.1);}




/*animação do efeito hover do mouse sobre os thumbs*/

.partner-logo {
  position: relative;
}

.partner-logo figcaption {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  top: 0;
  opacity: 0;
  position: absolute;
}

@media(min-width:1024px) {

  .partner-logo img {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)

  }

  /* hover effects */
  .partner-logo:hover img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .partner-logo:hover figcaption {
    opacity: 1;
    top: 60px;
  }

}

@media(max-width: 767px) {
  section {
    padding: 0;
  }

  .partner-logo {
    display: block;
float: left;
  }
}


.button__speaker-about{
    border: 0;
    outline: 0;
    line-height: 1;
    text-align: center;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2px;
    display: inline-block
}

.button__speaker-about {
    letter-spacing: -0.5px;
    background: #1bbb7c;
    padding: 15px 35px;
    color: #fff;
    margin: 140px 45px 0 45px;
    padding: 10px 26px;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 15px;
    -webkit-transition: background .3s,-webkit-box-shadow .3s;
    transition: background .3s,-webkit-box-shadow .3s;
    transition: background .3s,box-shadow .3s;
    transition: background .3s,box-shadow .3s,-webkit-box-shadow .3s
}

.button__speaker-about:hover {
    background: #18a56d
}

/*** uncss> filename: http://localhost:8080/assets/css/schedule.css ***/
.schedule {

}

.schedule-items {
  list-style: none;
  padding: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 0;
  font-weight: bold;
}
.schedule-items li {
  padding: 10px;
}

/*.schedule .see-details-link :hover {
    color: #f9fbfd;
}*/

.schedule-items li:nth-child(even) {
  background-color: #f7f7f7;
}

.schedule-items li:nth-child(even):hover {
  background-color: rgb(241, 196, 15);
  color: #222;
}

.schedule-items li:nth-child(odd) {
  background-color: rgb(188, 200, 241);
}


.schedule-items li:nth-child(odd):hover {
  background-color: rgb(241, 196, 15);
  color: #222;
}

.schedule .see-details-link {
  cursor: pointer;
  margin-bottom: 0;
  display: block;
}

.schedule .see-details,
.schedule .details {
  display: none;
}

.schedule .see-details:checked + .details {
  display: block;
  padding-top: 10px;
}

/*** uncss> filename: http://localhost:8080/assets/css/about.css ***/
.about {
  color: #34495e;
}

.about h2 {
  font-size: 1.5em;
  padding-bottom: 10px;
  padding-top: 10px;
}
.about p {
  text-align: justify;
  font-size: 1.2em;
}



.promo {
  margin-top: 50px;
  margin-bottom: 50px;

}

.promo span {
  font-size: 1em;
    display: block;
    text-align: center;
}

.promo img {
  width: 60px;
  display: -webkit-inline-box;
  padding-bottom: 15px;
}

/*** uncss> filename: http://localhost:8080/assets/css/partners.css ***/
.partners {
  margin-bottom: 50px;
}

.partners__logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.partners__logos img {
  width: 160px;
}


@media(max-width: 660px) {
  .partners__logos img {
      width: 100px;
    }
}
