.schedule {

}

.schedule-items {
  list-style: none;
  padding: 10px;
  border: 2px solid #f2f2f2;
  border-radius: 0;
  font-weight: bold;
}
.schedule-items li {
  padding: 10px;
}

/*.schedule .see-details-link :hover {
    color: #f9fbfd;
}*/

.schedule-items li:nth-child(even) {
  background-color: #f7f7f7;
}

.schedule-items li:nth-child(even):hover {
  background-color: rgb(241, 196, 15);
  color: #222;
}

.schedule-items li:nth-child(odd) {
  background-color: rgb(188, 200, 241);
}


.schedule-items li:nth-child(odd):hover {
  background-color: rgb(241, 196, 15);
  color: #222;
}

.schedule .see-details-link {
  cursor: pointer;
  margin-bottom: 0;
  display: block;
}


.schedule .see-details,
.schedule .details {
  display: none;
}

.schedule .see-details:checked + .details {
  display: block;
  padding-top: 10px;
}

.schedule .schedule-details-link.disabled {
  opacity: .5;
  pointer-events: none;
  cursor: defaut;
}

.schedule .schedule-details-link i {
  margin-right: 5px
}
