.contact {
  background-color: #4a0864;
      min-height: 40vh;
}

.contact h1{
  text-transform: uppercase;
      color: #ecf0f1;
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 1px;
      padding-top: 10px;
      padding-bottom: 10px;
}

.contact a {
  color:#ecf0f1;
  text-decoration: none;
}

.contact a:hover {
  color: #ffffff;
}

#contact .btn-default {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    border-radius: 0;
}

#contact .btn-default:hover, .btn-default:focus {
    border: 1px solid #fff;
    outline: 0;
    color: #000;
    background-color: #fff;
}


.banner-social-buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  left: 15%;
  position: relative;
}
