.schedule-items {
  list-style: none;
  border-radius: 0;
}

.schedule-items li {
  padding: 20px 10px;
  border-bottom:1px solid #4a0864;
}

.schedule-items label h3  {
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 10px;
}

.schedule-items label p {
  font-weight: normal;
}

.schedule-items li:hover {
  background: #f2f2f2;
  border-bottom:1px solid #951AA1;
}

.schedule .see-details-link {
  cursor: pointer;
  margin-bottom: 0;
  display: block;
}


.schedule .see-details,
.schedule .details {
  display: none;
}

.schedule .see-details:checked + .details {
  display: block;
  padding-top: 10px;
}

.schedule .schedule-details-link.disabled {
  opacity: .5;
  pointer-events: none;
  cursor: defaut;
}

.schedule .schedule-details-link i {
  margin-right: 5px
}

.workshop_schedule {
  margin-top: -5rem;
}