.sponsors .section-title {
  margin-bottom: 50px;
}

.sponsor-category {
  margin-bottom: 20px;
}

.sponsor-category h3 {
  margin-bottom: 20px;
  font-weight: bold;
  background-color: #f2f2f2;
  padding: 15px;
  border-bottom: 2px solid;
}

.sponsor-category img {
  width: 100px;
}

.brands__logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  min-height: 200px;
  flex-direction: column-reverse;
}

.brands__logos > a {
  display: inline-block;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 600px) {
  .brands__logos {
    flex-direction: row;
  }

  .brands__logos > a {
    margin-bottom: 0;
  }
}

@media (min-width: 980px) {
  .sponsor-category.premium img {
    width: 360px;
  }

  .sponsor-category.diamond img {
    width: 180px;
  }

  .sponsor-category.gold img {
    width: 160px;
  }

  .sponsor-category.silver img {
    width: 140px;
  }

  .sponsor-category.bronze img {
    width: 100px;
  }
}
