* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font: 400 16px/1.4 -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    color: #434343;
    background: #f9fbfd;
    overflow-x: hidden;
}

a {
    color: #4a0864;
    text-decoration: none;
}

.mobile-devconf {
  width: 21px;
  height: 20px;
  position: relative;
  margin-right: 5rem;
}

.logo-devconf-lg {
  width: 150px;
  height: 150px;
  position: relative;
  margin-right: 5rem;
}

.mobile-text {
  top: -4px;
  position: relative;
  font-size: 1.1em;
  right: 40px;
}

a:focus, a:hover {
    color: #4a0864;
    text-decoration: none;
}

img {
    -ms-interpolation-mode: bicubic;
    vertical-align: bottom
}

.wrapper {
    max-width: 1140px;
    width: 94%;
    margin: 0 auto;
    padding: 0 10px;
    position: relative
}

.wrapper:after {
    clear: both;
    display: table;
    content: ""
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 85px 0 0
}

@media only screen and (max-width: 720px) {
    body {
        margin:64px 0 0
    }
}

footer,header,nav,section {
    display: block
}

canvas,video {
    display: inline-block
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,a:hover {
    outline-width: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

img {
    border-style: none
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,input {
    font: inherit;
    margin: 0
}

button,input {
    overflow: visible
}

button {
    text-transform: none
}

button,html [type="button"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,[type="button"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

.btn-vr, .btn-primary, .btn-success {
  background: #4a0864 !important;
  color: #fff !important;
  border-color: #4a0864 !important;
}

.btn-vr:hover, .btn-primary:hover, .btn-success:hover {
    background: #951AA1;
    color: #fff;
    border-color: #4a0864;
}

.btn-info {
  border-radius: 0;
  background: transparent;
  border: 1px solid #222;
  color: #222;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.btn-info:hover {
  background: #222;
  color: #fafafa;
  border: 1px solid #222;

}


h1,h2,h3,h4,h6 {
    font-weight: 300;
    position: relative;
    letter-spacing: 0px
}

h1 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 48px;
    margin: 0 0 20px;
    font-weight: 400
}

h2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    font-size: 28px
}

h3 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    font-size: 18px
}

h4 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    font-size: 16px
}

h6 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    font-size: 12px
}

i {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


.top30 {
  margin-top: 30px;
}

.button__tertiary {
    border: 0;
    outline: 0;
    line-height: 1;
    text-align: center;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 2px;
    display: inline-block
}

.button__tertiary {
    letter-spacing: -0.5px;
    background: #4a0864;
    padding: 15px 35px;
    color: #fff;
    margin: 35px 0;
    padding: 18px 32px;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 15px;
    -webkit-transition: background .3s,-webkit-box-shadow .3s;
    transition: background .3s,-webkit-box-shadow .3s;
    transition: background .3s,box-shadow .3s;
    transition: background .3s,box-shadow .3s,-webkit-box-shadow .3s
}

.button__tertiary:hover {
    background: #951AA1;
    color: #fff;
}

.header {
    will-change: transform;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    height: 85px;
    z-index: 99999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.1);
    box-shadow: 0 1px 6px rgba(0,0,0,0.1)
}

.header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: static
}

@media only screen and (max-width: 720px) {
    .header {
        height:64px
    }
}

.logo {
    overflow: hidden;
    text-indent: -160px;
    display: inline-block
}

.logo__image {
    height: 52px;
    margin-right: 10px;
    display: block
}

@media only screen and (max-width: 720px) {
    .logo__image {
        width:120px;
        height: 42px
    }
}

.nav {
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #6a7589;
    height: 100%
}

@media only screen and (max-width: 720px) {
    .nav {
        background:#fff;
        position: absolute;
        left: 0;
        top: 64px;
        right: 0;
        height: auto;
        width: 100%;
        margin: 0;
        -webkit-box-shadow: 0 15px 25px rgba(50,50,93,0.1);
        box-shadow: 0 15px 25px rgba(50,50,93,0.1);
        border-top: 1px solid rgba(0,0,0,0.05);
        -webkit-transform: translate3d(0,-125%,0);
        transform: translate3d(0,-125%,0);
        opacity: 0
    }
}

.nav__tag {
    position: relative;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background-color: #951AA1;
    padding: 4px 7px;
    line-height: 1;
    border-radius: 2px
}

.nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px 0 0;
    padding: 0;
    width: inherit
}

@media only screen and (max-width: 1140px) {
    .nav__list {
        margin:0
    }
}

@media only screen and (max-width: 720px) {
    .nav__list {
        -webkit-box-orient:vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

.nav__item {
    margin-left: 10px;
    position: relative;
    list-style: none
}

@media only screen and (max-width: 720px), screen and (min-width: 840px) and (max-width: 1080px) {
    .nav__item {
        margin-left:0
    }
}

@media only screen and (max-width: 720px) {
    .nav__item {
        -webkit-box-flex:1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }
}

.nav__item--divider {
    padding-left: 15px;
    margin-left: 15px
}

@media only screen and (min-width: 840px) and (max-width: 1080px) {
    .nav__item--divider {
        padding-left:15px;
        margin-left: 15px
    }
}

@media only screen and (max-width: 720px) {
    .nav__item--divider {
        background:#f5f8fc
    }
}

@media only screen and (max-width: 720px), screen and (min-width: 840px) and (max-width: 950px) {
    .nav__item--divider {
        margin-left:0;
        padding-left: 0
    }
}

.nav__item--divider .nav__link:before {
    content: ' ';
    width: 1px;
    left: 0;
    height: 20px;
    background: rgba(0,0,0,0.1);
    position: absolute
}

@media only screen and (max-width: 720px), screen and (min-width: 840px) and (max-width: 950px) {
    .nav__item--divider .nav__link:before {
        display:none
    }
}

.nav__item:hover {
    color: #2e3746
}

.nav__item:hover .dropdown {
    -webkit-transform: translate3d(-50%,10px,0) rotateX(0);
    transform: translate3d(-50%,10px,0) rotateX(0);
    display: block
}

@media only screen and (max-width: 720px) {
    .nav__item:hover .dropdown {
        display:none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}

.nav__item-drop {
    margin: 2px 0 0 8px;
    vertical-align: middle
}

@media only screen and (max-width: 720px) {
    .nav__item-drop {
        display:none
    }
}

.nav__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0 15px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 15px;
    font-weight: 500;
    color: inherit
}

@media only screen and (max-width: 1080px) {
    .nav__link {
        padding:0 10px
    }
}

@media only screen and (max-width: 720px) {
    .nav__link {
        padding:0;
        font-size: 17px;
        padding: 20px 25px
    }
}

.nav__hamburger {
    outline: 0;
    display: none;
    z-index: 1;
    position: relative;
    z-index: 4;
    padding: 12px 8px 10px 8px;
    cursor: pointer;
    -webkit-transition-property: opacity .3s linear;
    transition-property: opacity .3s linear;
    font: inherit;
    line-height: 1;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0 0 0 auto;
    overflow: visible
}

@media only screen and (max-width: 720px) {
    .nav__hamburger {
        display:inline-block
    }
}

.nav__hamburger:hover {
    opacity: 0.8
}

.nav__hamburger__box {
    width: 30px;
    height: 21px;
    display: inline-block;
    position: relative;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s
}

.nav__hamburger__inner {
    display: block;
    top: 50%;
    margin-top: -1.5px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.55,0.055,0.675,0.19);
    transition-timing-function: cubic-bezier(0.55,0.055,0.675,0.19)
}

.nav__hamburger__inner,.nav__hamburger__inner::before,.nav__hamburger__inner::after {
    width: 30px;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    -webkit-transition: -webkit-transform 0.15s ease;
    transition: -webkit-transform 0.15s ease;
    transition: transform 0.15s ease;
    transition: transform 0.15s ease,-webkit-transform 0.15s ease;
    background-color: #7c549e
}

.nav__hamburger__inner::before,.nav__hamburger__inner::after {
    content: "";
    display: block
}

.nav__hamburger__inner::before {
    top: -9px;
    -webkit-transition: top 0.1s 0.34s ease-in,opacity 0.1s ease-in;
    transition: top 0.1s 0.34s ease-in,opacity 0.1s ease-in
}

.nav__hamburger__inner::after {
    bottom: -9px;
    -webkit-transition: bottom 0.1s 0.34s ease-in,-webkit-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    transition: bottom 0.1s 0.34s ease-in,-webkit-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    transition: bottom 0.1s 0.34s ease-in,transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19);
    transition: bottom 0.1s 0.34s ease-in,transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19),-webkit-transform 0.3s cubic-bezier(0.55,0.055,0.675,0.19)
}

.dropdown {
    width: 400px;
    position: absolute;
    z-index: 99999;
    top: 100%;
    text-align: left;
    left: 50%;
    -webkit-transform: translate3d(-50%,10px,0);
    transform: translate3d(-50%,10px,0);
    display: none;
    padding-top: 10px;
    margin-top: -10px
}

@media only screen and (max-width: 720px) {
    .dropdown {
        display:none
    }
}

.dropdown:before {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #fff transparent;
    content: ' ';
    z-index: 3;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0)
}

.dropdown__list {
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 50px 100px rgba(50,50,93,0.1),0 15px 35px rgba(50,50,93,0.15),0 5px 15px rgba(0,0,0,0.1);
    box-shadow: 0 50px 100px rgba(50,50,93,0.1),0 15px 35px rgba(50,50,93,0.15),0 5px 15px rgba(0,0,0,0.1);
    position: relative;
    padding: 0;
    z-index: 1
}

.dropdown__item {
    list-style: none
}

.dropdown__item:first-child .nav__link {
    padding-top: 30px
}

.dropdown__item:last-child .nav__link {
    padding-bottom: 30px
}

.dropdown__link {
    border-bottom: 1px solid #383e4a;
    display: block;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 35px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    color: #6a7589
}

.dropdown__link:hover {
    color: #2e3746
}

.dropdown__link:last-child {
    border-bottom: none
}

.dropdown__link__info {
    font-size: 14px;
    font-weight: 300;
    border-left: 1px solid #d9882c;
    padding-left: 10px;
}

.dropdown__link__title {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-size: 15px;
    font-weight: 500;
    color: #2e3746;
    padding-left: 10px;
    text-decoration: none;
}


/*
.dropdown__link img {
  position: relative;
  margin-right: 15px;
  padding-right: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60px;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  top: 5px;
  border-right: 1px solid #dda520;
}




*/

.dropdown__link img {
    position: relative;
    margin-right: 35px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60px;
    -ms-flex: 0 0 60px;
    flex: 0 0 60px;
    width: 60px;
    height: 60px;
    top: 4px
}

.footer {
    background: #fff;
    padding: 50px 0
}

.footer__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 0 0 35px;
    text-align: center;
}

@media only screen and (max-width: 520px) {
    .footer__info {
        border-bottom:none;
        padding-bottom: 0
    }
}

.footer__info-brand {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%
}

@media only screen and (max-width: 520px) {
    .footer__info-brand {
        -webkit-box-flex:0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%
    }
}

.footer__info-brand img {
    width: 100%;
    max-width: 50px;
    display: inline-block;
    vertical-align: middle;
    margin: -4px 5px 0 0;
}

.footer__info-brand p {
    display: inline-block;
    font-size: 12px
}

.footer__info-social {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    text-align: right;
    margin: 10px 0 0
}

@media only screen and (max-width: 520px) {
    .footer__info-social {
        display:none
    }
}

.footer__info-social--mobile {
    display: none;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee
}

@media only screen and (max-width: 520px) {
    .footer__info-social--mobile {
        display:block
    }
}

.footer__info-social a {
    display: inline-block;
    margin: 0 5px
}

.footer__info-icon {
    width: auto;
    height: 16px
}

.footer__more {
    padding: 45px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media only screen and (max-width: 520px) {
    .footer__more {
        padding:25px 0 0
    }
}

.footer__links {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0
}

.footer__links ul {
    float: left;
    list-style: none;
    margin: 0 35px 0 0;
    padding: 0;
    font-size: 13px
}

.footer__links ul li {
    margin: 0 0 10px
}

.footer__links ul li a {
    color: #8c929d
}

.footer__links ul li a:hover {
    color: #5a5f69
}

.footer__contact {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    text-align: right;
    font-size: 13px
}

@media only screen and (max-width: 520px) {
    .footer__contact {
        display:none
    }
}

.footer__contact--mobile {
    padding-top: 15px;
    display: none;
    text-align: left
}

@media only screen and (max-width: 520px) {
    .footer__contact--mobile {
        display:block
    }
}

.footer__contact a {
    color: #9d62c8
}

.brands__logos {
    margin: 0 auto
}

.award {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    /*margin: 0 0 0 20px;
    padding: 0 0 0 35px;*/
    font-size: .7em;
    color: #4a0864;
    font-weight: 500;
}

@media only screen and (max-width: 920px) {
    .award {
        margin-left:5px;
        padding-left: 35px;
        border-left: none
    }
}

@media only screen and (max-width: 880px) {
    .award {
        display:none
    }
}

.award p {
    margin: 0
}

.award__title {
    letter-spacing: 1px;
    text-transform: uppercase
}

.hero {
    position: relative;
    padding-top: 0;
}

@media only screen and (max-width: 840px) {
    .hero {
        padding-bottom:0;
    }
}

.hero__gradient,.hero__container {
    margin-top: -50px;
    padding-top: 50px;
    height: 700px;
    z-index: 2;
    position: relative
}

@media only screen and (max-width: 840px) {
    .hero__gradient,.hero__container {
        height:550px
    }
}

@media only screen and (max-width: 720px) {
    .hero__gradient,.hero__container {
        height:460px
    }
}

@media only screen and (max-width: 390px) {
    .hero__gradient,.hero__container {
        height:340px
    }
}

.hero__background {
    -webkit-transform: skew(0,-3.5deg);
    -ms-transform: skew(0,-3.5deg);
    transform: skew(0,-3.5deg);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

@media only screen and (max-width: 840px) {
    .hero__video {
        background:url('../img/coding-bg.jpg') center;
        background-size: cover;
    }
}

.hero__gradient {
    -webkit-transform: skew(0,-1.5deg);
    -ms-transform: skew(0,-1.5deg);
    transform: skew(0,-1.5deg);
    /*background-image: -webkit-gradient(linear,left top,right top,from(#7b519f),to(#9e62c9));
    background-image: -webkit-linear-gradient(left,#7b519f,#9e62c9);
    background-image: linear-gradient(to right,#7b519f,#9e62c9);*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 60px;
    overflow: hidden;
    z-index: 1
}

.hero__video {
    position: absolute;
    top: 85px;
    left: 50%;
    bottom: -160px;
    width: 100%;
    -webkit-transform: skew(0,5deg) translate(-50%,0);
    -ms-transform: skew(0,5deg) translate(-50%,0);
    transform: skew(0,5deg) translate(-50%,0)
}

.hero .wrapper {
    padding: 180px 0 0
}

@media only screen and (max-width: 840px) {
    .hero .wrapper {
        padding:120px 0 0
    }
}

@media only screen and (max-width: 720px) {
    .hero .wrapper {
        padding:50px 0 0
    }
}

.hero__content {
    margin: 0 0 75px;
    text-align: center;
    color: #fff
}

.hero__content span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: block;
    margin: 0 0 10px
}

@media only screen and (max-width: 550px) {
    .hero__content span {
        display:none
    }
}

.hero__title {
    margin: 15px 0;
    font-weight: 500;
    font-size: 48px
}

@media only screen and (max-width: 720px) {
    .hero__title {
        font-size:32px
    }
}

@media only screen and (max-width: 540px) {
    .hero__title {
        font-size:28px
    }
}

.hero__strapline {
    max-width: 660px;
    margin: 14px auto 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff
}

@media only screen and (max-width: 720px) {
    .hero__strapline {
        max-width:80%;
        font-size: 14px
    }
}

@media only screen and (max-width: 540px) {
    .hero__strapline {
        max-width:85%;
        font-size: 13px
    }
}

.hero__link {
    color: #fff;
    border-bottom: 1px dotted rgba(255,255,255,0.5)
}

.hero__player {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block
}

@media only screen and (max-width: 720px) {
    .hero__player {
        margin:30px 0
    }
}

.hero__player video {
    position: relative;
    z-index: -1
}

.hero__logo {
  width: 41%
}


.player {
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    z-index: 5
}

@media only screen and (max-width: 720px) {
    .player {
        background:url('../img/coding-bg.jpg') center;
        background-size: cover;
    }
}

.player:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    opacity: 1;
    background: -webkit-linear-gradient(30deg,rgba(74, 8, 100, 0.8)  30%, rgba(149, 26, 161, 0.8) 70%);
    background: linear-gradient(30deg,rgba(74, 8, 100, 0.8)  30%, rgba(149, 26, 161, 0.8) 70%);
}

.player video {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

@media only screen and (max-width: 720px) {
    .player video {
        display:none
    }
}

section {
  padding: 30px;
}

@media (min-width: 980px) {
  section {
    padding: 100px 30px 30px;
  }
}

.section-title {
  color: #4a0864;
  border-bottom:4px solid #4a0864;
  padding: 10px 0;
  margin-bottom: 25px;
}

.googleMaps {
  padding: 0;
  margin-top: 0;
}

.modal {
  top: 15%;
}
