<li class="nav__item">
    <a href="https://www.eventick.com.br/devconf" class="nav__link" target="_blank">
        Your Ticket
        <img class="nav__item-drop" src="assets/img/arrow-dropdown--dark.svg" alt="your ticket">
    </a>
    <nav class="dropdown">
        <ul class="dropdown__list">
        <li class="dropdown__item">
            <a href="javascript:void();" class="nav__link dropdown__link">
            <img src="assets/img/trophy.svg" alt="">
            <div class="dropdown__link__info">
                <h2 class="dropdown__link__title">Lote I</h2>
                <div class="col-md-6">
                <i class="fa fa-calendar-o"></i> até 11/04  <br>
                <i class="fa fa-money"> R$ 40,00</i> <br>
                </div>
                <div class="col-md-6">
                <button type="button" class="btn btn-success" disabled="disabled">
                    Eu quero!
                </button>
                </div>
                <hr>
            </div>
            </a>
        </li>
        <li class="dropdown__item">
            <a href="javascript:void();" class="nav__link dropdown__link">
            <img src="assets/img/trophy.svg" alt="">
            <div class="dropdown__link__info">
                <h2 class="dropdown__link__title">Lote II</h2>
                <div class="col-md-6">
                <i class="fa fa-calendar-o"></i> até 21/04  <br>
                <i class="fa fa-money"> R$ 50,00</i> <br>
                </div>
                <div class="col-md-6">
                <button type="button" class="btn btn-success" disabled="disabled">
                    Eu quero!
                </button>
                </div>
                <hr>
            </div>
            </a>
        </li>
        <li class="dropdown__item">
            <a href="http://even.tc/devconf" class="nav__link dropdown__link" target="_blank">
            <img src="assets/img/trophy.svg" alt="">
            <div class="dropdown__link__info">
                <h2 class="dropdown__link__title">Lote III</h2>
                <div class="col-md-6">
                <i class="fa fa-calendar-o"></i> até 20/05 <br>
                <i class="fa fa-money"> R$ 60,00</i> <br>
                </div>
                <div class="col-md-6">
                <button type="button" class="btn btn-success">
                    Eu quero!
                </button>
                </div>
                <hr>
            </div>
            </a>
        </li>
        </ul>
    </nav>
</li>