  <header role="banner" class="header">
    <div class="wrapper">
      <a href="/" class="logo">
        <img class="pull-left logo-devconf-lg" src="assets/img/logos/logo_devconf_grey.png?h=1e1f77aighjg" alt="DevConf">
      </a>

        {{!-- <div class="award">
        <div>
          <p class="award__title"> /* {{ info.eventName }} {{ info.year }} */</p>
          <p>
            Somos caipiras e gostamos de tecnologia
          </p>
        </div>
      </div> --}}
      <nav class="nav">
        <ul class="nav__list">
          {{> header/item label=info.eventName href="#about" }}
          {{> header/item label="Palestrantes" href="#speaker"}}
          {{> header/item label="Programação" href="#schedule"}}
          {{> header/item label="Patrocinadores" href="#sponsor" }}
          {{#if pastEditions}}
            {{> header/pastEditions }}
          {{/if}}
          {{> header/item label="Contato" href="#contact" clazz="nav__item--divider" }}
        </ul>
      </nav>
    </div>
  </header>
