<li class="nav__item {{ clazz }}">
    <a href="{{ href }}" class="nav__link {{ a_clazz }}">
        {{ label }}
        {{#if start}}
            <span class="nav__tag">
                <i class="fa fa-star-o"></i>
            </span>
        {{/if}}
    </a>
</li>